
.sidebar-header {
    padding: 20px;
    margin-top: 30px;
    font-size: 25px;
    padding: 0px 20px 0px 0px;
    color: white;
}
.barbutton{
    background-color: #182A36;
    border: 1px solid #182A36;
}

.barbutton.active{
    background-color: #182A36;
    border: 1px solid #182A36;
}
.sidebar-header .logo .logo-lg{
    font-size: 12px;
    display: block;
    margin: -37px 0px 0px -14px;
}
.navbar-collapse {
    background-color:block;
    font-size: 18px;
}

.navbar-header {
    background-color:#0078D7;
}
.container-fluid {
    background-color:#0078D7;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #0078D7;
}
.navbar-inverse .navbar-nav>li>a {
    color: #f6f2f7;
}

.navbar-inverse .navbar-brand {
    color: #f3eded;
}
#logoImage {
    max-width: 59px;
    margin-top: -14px;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #f6f2f7;
    }
}

#input-icon{
    background-color: white;
    border: none;
}
#box-input{
    width: 200px;
    height: 50px;
}
#padding-icon{
    font-size: 26px;
    padding-top: 10px;
    padding-left: 6px;
}
#inputbox-padding{
    width: 210px;
    margin-top: 25px;
}
#user-img{
    width: 48px;
    height: 48px;
    border-radius: 20px;
    margin-top: 20px;
}
#user-img1{
    width: 35px;
    height: 35px;
    background-color: #39b722;
    border-radius: 20px;
    margin-top: 25px;
}
#user-img2{
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 15px;
}
#icon-color{
    color: white;
    font-size: 22px;
    padding: 7px;
}
#welcome-text{
    color: white;
    font-size: 12px;
}
#name-text{
    color: white;
    font-size: 20px;
}
.searchicon{
    font-family: fontawesome;
    font-size: 20px;
}

#back-colorforheader{
    background-color: #182A36;
    border-color:#182A36;
}

@media (min-width: 320px) and (max-width: 359px) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 98px;
        margin: -6px 0px 0px 20px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 34px;
            width: 280px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 359px) and (max-width: 374px) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;  
        margin-top: 9px; 
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 98px;
        margin: -6px 0px 0px 20px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 33px;
            width: 300px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 375px) and (max-width: 409px) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 98px;
        margin: -6px 0px 0px 20px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 33px;
            width: 300px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
    
}
@media (min-width: 410px) and (max-width: 470px) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 98px;
        margin: -6px 0px 0px 20px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 33px;
            width: 300px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 471px) and (max-width: 530px) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 98px;
        margin: -6px 0px 0px 46px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 33px;
            width: 300px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 531px) and (max-width: 539px) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 117px;
        margin: -17px 0px 0px 35px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 41px;
            width: 288px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 540px) and (max-width: 600px) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 98px;
        margin: -6px 0px 0px 20px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 30px;
            width: 300px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 601px) and (max-width: 767px) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 138px;
        margin: -25px 0px 0px 60px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 54px;
            width: 300px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 768px) and (max-width: 810px) and (orientation: landscape) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 130px;
        margin: -20px 0px 0px 119px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 53px;
            width: 330px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 810px) and (max-width: 1024px) and (orientation: landscape) {
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 98px;
        margin: -6px 0px 0px 20px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 33px;
            width: 300px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 1025px) and (max-width: 1280px){
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #fixed-heder{
        position: fixed;
        top: -84;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #logo-img{
        width: 98px;
        margin: -6px 0px 0px 20px;
    }
    input[type=text]{
        width: 105%;
        height: 34px;
        border-radius: 25px;
        padding-left: 4px;
        margin-top: 5px;
    }
    #search{
        margin: 25px 0px 20px 11px;
    }
    .barbutton{
        background-color: #182A36;
        border: 1px solid #182A36;
        margin: -1px 0px 0px 5px;
    }
    .test:after {
        content: '\2807';
        font-size: 38px;
        color: white;
        margin: 0px 0px 0px 0px;
        }

        *{margin: 0;padding:0px}

        .header{
            width: 100%;
            background-color: #0d77b6 !important;
            height: 60px;
        }

        .showLeft{
            background-color: #182A36 !important;
            border:1px solid #182A36 !important;
            text-shadow: none !important;
            color:#fff !important;
            padding:10px;
        }

        .icons li {
            background: none repeat scroll 0 0 #fff;
            height: 7px;
            width: 7px;
            line-height: 0;
            list-style: none outside none;
            margin-right: 15px;
            margin-top: 3px;
            vertical-align: top;
            border-radius:50%;
            pointer-events: none;
        }

        .btn-left {
            left: 0.4em;
        }

        .btn-right {
            right: 0.4em;
        }

        .btn-left, .btn-right {
            position: absolute;
            top: 0.24em;
        }

        .dropbtn {
            background-color: #4CAF50;
            position: fixed;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-top: 15px;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: absolute;
            display: inline-block;
            right: 0.4em;
            top: 33px;
            width: 300px;
        }

        .dropdown-content {
            display: none;
            position: relative;
            margin-top: 60px;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}

        #mobileview-none{
            display: none;
        }
        #welcome-text{
            color: black;
            font-size: black;
        }
        #name-text{
            color: black;
            font-size: 20px;
        }
        #user-img{
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin: 20px 0px 0px 2px;
        }
}
@media (min-width: 1281px) and (max-width: 1380px) {
    #logo-img{
        width: 98px;
        margin-left: 46px;
    }
    input[type=text]{
        width: 85%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;   
    }
    #search{
        margin: 35px 11px 20px 0px;
    }
    .dropdown{
        display: none;
    }
    #fixed-heder{
        position: fixed;
        top: -20;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #header-top{
        margin-top: -16px;
    }
    #welcome-text{
        color: white;
        font-size: 12px;
        margin-top: 11px;
    }
}


